{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}d_ERP{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="{% url 'admin:index' %}">d_ERP</a>

    <div class="navbar-brand">
    <a class="navbar-link" href="{% url 'hr:index' %}" style="margin-right: 5px">
        <img class="icon" alt="hr" src="{% static 'hr/img/hr_small.png' %}"/>&nbsp;HR
    </a>
    </div>
    <div class="clearfix"></div>

{% endblock %}

{% block nav-global %}
{% endblock %}