{% extends 'hr/base.html' %}

{% block navbar %}
    {% include "hr/_navbar.html" with active="jobs" %}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="{% url 'hr:index' %}">Home</a></li>
      <li><a href="{% url 'hr:applicants' %}">Jobs</a></li>
      <li class="active">{{ job.job_name }}</li>
    </ol>

    <div class="well">
    <h2>Info:</h2>
    <ul>
        <li>Name: {{ job.job_name}}</li>
        <li>Description: {{ job.job_desc }}</li>
        <li>From: {{ job.job_open_from }}</li>
        <li>To: {{ job.job_open_to }}</li>
    </ul>

    <h3>Update Penanganan:</h3>
    {% if update_histories %}
    <div class="row">
    <div class="col-sm-12">
    <table class="table table-striped table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <td>Durasi</td>
                <td>Level</td>
                <td>Teknisi</td>
                <td>Penyebab</td>
                <td>Action</td>
                <td>Waktu Update</td>
            </tr>
        </thead>
        <tbody>
            {% for update in update_histories %}
                <tr>
                    <td>{{ update.duration }}</td>
                    <td>{{ update.level }}</td>
                    <td>{{ update.technical_support }}</td>
                    <td>{{ update.penyebab }}</td>
                    <td>{{ update.action }}</td>
                    <td>{{ update.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    {% else %}
        <p>Belum ada update penanganan.</p>
    {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function() {
        $('#applicants').dataTable();
    } );
    </script>
{% endblock %}
